<h2 class="underline"><%= @client.name() %></h2>

<h3>Phone number: <%= @client.phone() %></h3>

<% if @client.stylist_id != 0 %>
  <h3>Stylist: <a href="/stylist/<%= @client.stylist_id %>"><%= Stylist.find(@client.stylist_id()).name()%></a></h3>
  <form class="" action="/client/<%= @client.id() %>/remove_stylist" method="post">
    <input type="hidden" name="_method" value="patch">
    <button type="submit" class="btn btn-default">Remove stylist</button>
  </form>
<% else %>
  <h4>Choose a stylist:</h4>
  <form class="" action="/client/<%= @client.id() %>/add_stylist" method="post">
    <input type="hidden" name="_method" value="patch">
    <select id='stylist_id' name='stylist_id' type='text' class='.selectpicker'>
      <% @stylists.each() do |stylist| %>
      <option class="option" value="<%= stylist.id()%>"><h4><%= stylist.name() %></h4></option>
      <% end %>
    </select>
    <button type="submit" class="btn btn-primary btn">Choose stylist</button>
  </form>
<% end %>

<br>
<br>
<br>

<h4>Edit <%= @client.name() %>'s Info:</h4>
<form class="" action="/client/<%= @client.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="name" id="name" placeholder="Name">
  <input type="text" name="phone" id="phone" placeholder="Phone">
  <button type="submit" class="btn btn-primary">Update</button>
</form>

<form class="" action="/client/<%= @client.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete <%= @client.name() %></button>
</form>

<br>
<br>

<a href="/"><button class="btn btn-default btn-lg">Home</button></a>
