<h2 class="underline"><%= @stylist.name() %></h2>

<h3 class="underline">Clients:</h3>

<% if @stylist.clients.any? %>
  <ul class="list-unstyled">
    <% @stylist.clients.each() do |client| %>
      <li><a href="/client/<%= client.id() %>"><%= client.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <h3><%= @stylist.name() %> currently has no clients.</h3>
<% end %>

<br>
<br>
<br>

<h4>Edit <%= @stylist.name() %>'s Info</h4>

<form class="" action="/stylist/<%= @stylist.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="name" id="name" placeholder="name">
  <button type="submit" class="btn btn-primary">Update</button>
</form>

<form class="" action="/stylist/<%= @stylist.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete <%= @stylist.name() %></button>
</form>

<br>
<br>

<a href="/"><button class="btn btn-default">Home</button></a>
